{% extends 'base.html.twig' %}

{% block title %}Connection{% endblock %}

{% block body %}
    <form method="post" class="form-connection">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connectez {{ app.user.userIdentifier }}<a class="text-decoration-none text-center" href="{{ path('app_logout') }}">Déconnection</a>
            </div>
        {% endif %}

        <h3 class="conn-head">Connectez vous</h3>
        <div class="input-form">
            <label for="inputUsername">Email ou nom d'utilisateur</label>
            {% if app.user %}
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="" autocomplete="username" required autofocus disabled>
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="" autocomplete="current-password" required disabled>
                
                {% else %}
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="" autocomplete="username" required autofocus>
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="" autocomplete="current-password" required>
                
            {% endif %}
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="check">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>

        {% if app.user %}
            <button class="py-3 d-flex justify-content-center align-items-center" type="submit">
                <a class="text-decoration-none text-white" href="{{ path('admin') }}"> Se connecter </a>
            </button>
            {% else %}
            <button class=" py-3 d-flex justify-content-center align-items-center " type="submit">
                Se connecter
            </button>
        {% endif %}


    </form>
    <div class="img-deco">
        <div class="logo-body">
            <img width="100px" height="100px" alt="2csLogo" src="{{ asset('images/logo/bigLogo2cs.svg') }}">
        </div>
        <div class="guy">
            <img width="400px" height="400px" alt="Connection guy" src="{{ asset('images/illustrations/conn_guy.svg') }}">
        </div>
    </div>

{% endblock %}
