{% extends 'base.html.twig' %}

{% block title %} Accueil Blog 2CS {% endblock %}


{% block body %}
    <div class="container-fluid banner justify-content-center w-100">

        <div class="col-2 mx-auto d-flex justify-content-center" id="part1">
            <img alt="logo2cs" width="100px" height="100px" src="{{ asset('images/logo/bigLogo2cs.svg') }}">
        </div>
        <div class="col-4" id="part2">
            <h2> Blog 2CS </h2>
            <p> Sur cette page vous pouvez retrouvez tout les articles et les derniers postes que nous publions. </p>
        </div>
        <div class="col-6" id="part3">
            <img class="border rounded-3 shadow" width="500px" height="300px" alt="network_illustration" src="{{ asset('images/illustrations/network_illustration.jpg') }}">
        </div>

    </div>

    <section class="articles-latest">

        <div class="article-heading-parent">
            <h4 class="text-decoration-underline"> Nos articles récents </h4>
            <div class="article-heading-container row">
                {% set test = 'g' %}

                {% if test is empty %}
                    <div class="container border empty-latest rounded-3">
                        <h5> Aucun article récent </h5>
                    </div>
                {% else %}
                    {% for latest_article in latest_articles %}
                    <article class="col-3">
                        <div class="article-heading">
                            <h3> {{ latest_article.titre }} </h3>
                            <p class="text-secondary"> {{ latest_article.description }} </p>
                        </div>
                        <div class="article-presentation">
                            <a href="{{ path('app_show', {id: latest_article.id, slug: latest_article.slug}) }}"> <img width="250px" height="150px" src="{{ asset('images/upload_article_image/' ~ latest_article.getImage() ) }}" alt=""> </a>
                        </div>
                    </article>
                    {% endfor %}
                {% endif %}

                
            </div>
        </div>

    </section>

    <hr>
    <div class="all-articles">
            <h3 class="text-decoration-underline mb-5"> Nos articles </h3>
            <div class="container-article">
                {% set test2 = 'j' %}
                {% if test2 is empty %}
                    <div class="empty-all border rounded-3 mb-3">
                        <h5>Aucun article trouvé</h5>
                    </div>
                {% else %}
                    {% for article in articles %}
                        <article class="articles-item">
                            <h5> {{ article.titre }} </h5>
                            <p>{{ article.description }}</p>
                            <button> <a href="{{ path('app_show', {id: article.id, slug: article.slug}) }}"> Lire l'article </a>
                        </article>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="pagination-tag">
                {{ knp_pagination_render( articles ) }}
            </div>
        </div>
    </section>

{% endblock %}